@charset "UTF-8";
img.logo1{
    width: 34px;
    height: 34px;
    flex-shrink: 0;
    vertical-align: middle;
    cursor : pointer;
}

.navbar{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.navbar_img{
    display: flex;
    list-style: none;
}


p.logo_left{
    padding: 0;
    margin: 0;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 33px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.navbar_img li{
    padding-left: 11px;
    padding-right: 11px;
}

.navbar_img img, p{
    cursor : pointer;
}

.navbar_logo1{
    display: flex;
}

.navbar_text{
    display: flex;
    list-style: none;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/*글자간격*/
.navbar_text li{
    padding-left: 60px;
    padding-right: 60px;
}

.navbar_text li span{
    cursor : pointer;
}

img.logo_left{
    width: 35px;
    height: 35px;
}


/*글작성란*/

div.write_myrefri{
    width: 900px;
    margin: 0 auto;
}

/* div.write_myrefri > form > div{
    display: inline-block;
} */

p.write_write_myrefri{
    background: #FFF;
    flex-shrink: 0;
    
}

input.write_myrefri{
    width: 900px;
    height: 40px;
    vertical-align: middle;
    border: none;
    border-bottom: 1px solid #000;
    color: #000;
    text-align: left;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    vertical-align: middle;
}

input.write_myrefri::placeholder{
    color: #000;
    text-align: left;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    vertical-align: middle;
}

p.epDate{
    width: 900px;
    height: 40px;
    color: #000;
    text-align: left;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    vertical-align: middle;
}

input.epDate{
    height: 40px;
}

textarea.content{
    border: none;
    width: 890px;
    height: 200px;
    margin-top: 20px;
}

textarea.content::placeholder{
    text-align:left;
    width: 890px;

    color: #9D9D9D;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
} 

div.content{
    width: 900px;
    /* height: 781px; */
    
    border: 1px solid #ADADAD;
    background: rgba(217, 217, 217, 0.00);
}

div.button{
    text-align:right;
    margin-top: 53px;
}

div.button > input{
    width: 104px;
    height: 47px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #508975;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 28px;
}

/*장터*/
input.money{
    width: 900px;
    height: 40px;
    vertical-align: middle;
    border: none;
    border-bottom: 1px solid #000;
    color: #000;
    text-align: left;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    vertical-align: middle;
}

input.money::placeholder{
    color: #000;
    text-align: left;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    vertical-align: middle;
}

div.radio{
    text-align:left;
    margin-top: 10px;
 padding: 10px;
    border: 1px solid #ADADAD;
    background: rgba(217, 217, 217, 0.00);
    

    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

div.radio input{
    text-align:left;
}