/* 화면 크기 */
p,body{
    margin: 0;
    overflow-x: hidden;
}
.item > a{
    text-decoration: none; /* 링크의 밑줄 제거 */
    color: black; /* 링크의 색상 제거 */
}
.wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
}
.header{
    width: 1536px;
    height: 50px;
}
.wrap_content{
    width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 0;
   margin-top: 30px;
   flex: 1;
}
.sub_wrap{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 450px;
    background-color: #005FED;
}
.search{
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 35px;
    justify-content: space-between;
    margin-top:80px;
    position: relative;
}
.sub_title, .sub_logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    margin-left: 380px;
    text-align: center;
}
#search_img{
    position: relative;
    bottom: 3px;
}
#search_keyword{
    color: gray;
    font-size: 10px;
    width: 370px;
}
#search_btn{
    width: 40px;
    height: 30px;
    background-color: #508975;
    color: #fff;
    font-size: 10px;
}
.sub_logo{
    display: flex;
    justify-content: center;
    margin-left: 80px;
}
.main_content{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 30px;

 }
 .main_content_detail{
    width:60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin-top: 30px;
 }
 .tag_btns{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
 }
 .item_list{
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
 }
 .item{
    width: 25%;
    margin: 10px;
    border: 1px solid #000;
    border-radius: 10px;
 }
 .item_img{
    width: 100%;
    height: 170px;
    border-radius: 10px;
 }
 .item_img > img{
    width: 100%;
    height: 170px;
    border-radius: 10px;
 }
 #btn-01, #btn-02, #btn-03, #btn-04{
    width: 20%;
    height: 30px;
    background-color: #fff;
    color: black;
    border-radius: 10px;
 }
 .item-detail{
    padding: 5px;
 }
 #item-title{
    font-weight: bold;
 }
 #item-price{
    font-size: 15px;
 }
 #item-estate{
    font-size: 10px;
 }
 #item-uploadtime{
    font-size: 10px;
    display: flex;
    justify-content: flex-end;
 }